@model Item

<div class="col-sm-4">
    <div class="card text-center">
        <img src="@Model.Icon" alt="..." class="card-img-top" style="width: 10em;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>