@model IEnumerable<Item>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Collection of items</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.Partial("_ItemCard", item)
        }
    </div>
</div>
